@page "/"
@namespace Csharp_blazor_interface_Presentation.Pages

<link href="/css/Home.css" rel="stylesheet" />


<div class="home-page noSelect">
    <div class="home-page-whitener">
        <div class="home-page-header">
            <Header />
            <h2>
                l'IA pour l'optimisation énergétique
            </h2>

        </div>

        <div class="home-page-content">
            <div class="home-page-content-container">
                <div class="main-logo-container">
                    <img src="images/No_background_logo.png" alt="Greenscale Logo" />
                </div>
                <div class="button-container">
                    <button class=" get-started-btn">
                        <NavLink href="importdata">Get Started!</NavLink>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    // Logique de la page
}
