@page "/"
@namespace Csharp_blazor_interface_Presentation.Pages

<Header />

<h1 style="text-align: center; margin-top: 50px; color: #2C3E50;">
    GreenScale : Optimisateur de Consommation Industrielle
</h1>

@code {
    // Logique de la page
}
