/* Style de la page d'accueil */
.home-page[b-3gqdki9m1t] {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('/images/PME_illustration.png');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #E3DDBB;
    font-family: Arial, sans-serif;
}

/* Contenu centré de la page */
.home-page-content[b-3gqdki9m1t] {
    display: flex;
    position: relative;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 50px;
    border-radius: 20px;
}

/* Titre de la page */
.home-page-content h1[b-3gqdki9m1t] {
    font-size: 2.5rem;
    font-weight: bold;
    color: #E3DDBB;
    margin-bottom: 20px;
}

/* Style du logo avec un cercle blanc semi-transparent autour */
.home-page-content img[b-3gqdki9m1t] {
    width: 250px;
    height: auto;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.5);
    padding: 20px;
    margin-bottom: 30px;
}

/* Style du bouton */
.get-started-btn[b-3gqdki9m1t] {
    background-color: #3E7734;
    color: #E3DDBB;
    padding: 15px 40px;
    font-size: 1.5rem;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
    display: inline-block;
    text-decoration: none;
}

/* Ajustement du lien dans le bouton */
.get-started-btn a[b-3gqdki9m1t] {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}

.get-started-btn[b-3gqdki9m1t] {
    background-color: #3E7734;
    color: #E3DDBB;
    padding: 15px 30px;
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-transform: uppercase;
}

/* Effet au survol du bouton */
.get-started-btn:hover[b-3gqdki9m1t] {
    background-color: #22432D;
    color: white;
}