/* _content/Csharp-blazor-interface/Csharp-blazor-interface.Presentation/App.razor.rz.scp.css */
<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <p>Error 404: Page Not Found<br>Sorry[b-9sciy4w7be], there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router[b-9sciy4w7be]>
/* _content/Csharp-blazor-interface/Csharp-blazor-interface.Presentation/Shared/MainLayout.razor.rz.scp.css */
.page[b-y9hk81e55e] {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main[b-y9hk81e55e] {
    flex: 1;
}

.sidebar[b-y9hk81e55e] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-y9hk81e55e] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-y9hk81e55e]  a, .top-row .btn-link[b-y9hk81e55e] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-y9hk81e55e] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-y9hk81e55e] {
        display: none;
    }

    .top-row.auth[b-y9hk81e55e] {
        justify-content: space-between;
    }

    .top-row a[b-y9hk81e55e], .top-row .btn-link[b-y9hk81e55e] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-y9hk81e55e] {
        flex-direction: row;
    }

    .sidebar[b-y9hk81e55e] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-y9hk81e55e] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .main > div[b-y9hk81e55e] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* _content/Csharp-blazor-interface/Csharp-blazor-interface.Presentation/Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-3yd40ifxk3] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-3yd40ifxk3] {
    height: 3.5rem;
    background-color: #E3DDBB;
}

.navbar-brand[b-3yd40ifxk3] {
    font-size: 1.1rem;
}

.oi[b-3yd40ifxk3] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-3yd40ifxk3] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

.nav-item:first-of-type[b-3yd40ifxk3] {
    padding-top: 1rem;
}

.nav-item:last-of-type[b-3yd40ifxk3] {
    padding-bottom: 1rem;
}

.nav-item[b-3yd40ifxk3]  a {
    color: #d7d7d7;
    border-radius: 4px;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
}

.nav-item[b-3yd40ifxk3]  a.active {
    background-color: rgba(255, 255, 255, 0.25);
    color: white;
}

.nav-item[b-3yd40ifxk3]  a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}


@media (min-width: 641px) {
    .navbar-toggler[b-3yd40ifxk3] {
        display: none;
    }

    .collapse[b-3yd40ifxk3] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
