/* _content/Csharp-blazor-interface/Csharp-blazor-interface.Presentation/Shared/MainLayout.razor.rz.scp.css */
.page[b-y9hk81e55e] {
    position: relative;
    display: flex;
    flex-direction: column;
    background-image: url('/images/background.png');
    background-size: cover;
    background-position: center;
}

.main[b-y9hk81e55e] {
    flex: 1;
}

.sidebar[b-y9hk81e55e] {
    background-image: none;
    background-color: #22432D;
}

.top-row[b-y9hk81e55e] {
    background-color: #E3DDBB;
    border-bottom: 1px solid #3E7734;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.top-row[b-y9hk81e55e] a,
.top-row .btn-link[b-y9hk81e55e] {
    color: #3E7734;
    white-space: nowrap;
    margin-left: 1.5rem;
}

.top-row a:first-child[b-y9hk81e55e] {
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-y9hk81e55e] {
        display: none;
    }

    .top-row.auth[b-y9hk81e55e] {
        justify-content: space-between;
    }

    .top-row a[b-y9hk81e55e],
    .top-row .btn-link[b-y9hk81e55e] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-y9hk81e55e] {
        flex-direction: row;
    }

    .sidebar[b-y9hk81e55e] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-y9hk81e55e] {
        position: sticky;
        top: 0;
        z-index: 1;
    }
}

/* _content/Csharp-blazor-interface/Csharp-blazor-interface.Presentation/Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-3yd40ifxk3] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-3yd40ifxk3] {
    height: 4rem;
    background-color: #22432D;
    display: flex;
    align-items: center;
}

.navbar-brand[b-3yd40ifxk3] {
    font-size: 1.5rem;
    font-weight: bold;
    color: #E3DDBB;
    display: flex;
    align-items: center;
}

.navbar-brand[b-3yd40ifxk3] img {
    height: 40px;
    margin-right: 10px;
}

.oi[b-3yd40ifxk3] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-3yd40ifxk3] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

.nav-item:first-of-type[b-3yd40ifxk3] {
    padding-top: 1rem;
}

.nav-item:last-of-type[b-3yd40ifxk3] {
    padding-bottom: 1rem;
}

.nav-item[b-3yd40ifxk3] a {
    color: #E3DDBB;
    font-size: 1rem;
    border-radius: 4px;
    height: 3rem;
    display: flex;
    align-items: center;
    padding-left: 15px;
}

.nav-item[b-3yd40ifxk3] a:hover {
    background-color: #3E7734;
    color: #ffffff;
}

.nav-item[b-3yd40ifxk3] a.active {
    background-color: #3E7734;
    color: #ffffff;
}

@media (min-width: 641px) {
    .navbar-toggler[b-3yd40ifxk3] {
        display: none;
    }

    .collapse[b-3yd40ifxk3] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}